* {
    selected-text:	{{color1}};
    selected-background: {{color13}};

    prompt-text: {{color3}};
    prompt-background: transparent;

    normal-text: {{color13}};
    normal-background: {{color8}};

    window-border: {{color13}};
    window-background: {{color6}}0D;

    scrollbar-filled: {{color13}};
    scrollbar-empty: {{color8}};

    error-message: {{color7}};
    error-message-border: {{color15}};
}
