@import url("/home/ayush/.cache/wal/colors-waybar.css");
* {
	all: unset; /*this is really important to isolate waybar from gtk*/
	font-family: "Intel One Mono, Symbols Nerd Font";
	font-size: 18px;
}

window#waybar {
	border: 3px solid @color9;
	border-radius: 10px;
	background: @background;
}

tooltip {
	background: @background;
	border-radius: 8px;
	border-width: 3px;
	border-style: solid;
	border-color: @color9;
	padding-top: 3px;
	padding-bottom: 3px;
}

#workspaces button {
	color: @color5;
	padding-top: 3px;
	padding-bottom: 3px;
	transition: all 0.3s ease-in-out;
}

#workspaces button.active { 
	color: @color3;
	transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
	color: #FF0000;
	transition: all 0.3s ease-in-out;
}

#clock.2 {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
}

#custom-separator {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#clock {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#mpd.2 {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#mpd.3 {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#mpd.4 {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#tray {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#custom-player {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#mpd {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#network {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#cpu {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#backlight {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
}

#pulseaudio {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 13px;  /* Diable this line if using laptop with battery */
}

#battery {
	color: @foreground;
	padding-top: 3px;
	padding-bottom: 3px;
	/*padding-right: 13px;*/  /* Enable this line if using laptop with battery */
}

#battery.warning {
	color: #FF0000;
}

#battery.critical {
	color: #FFFF00;
}
