@import "colors-wallust.css";
@define-color main-color @color13;
* {
  all: unset; /*this is really important to isolate waybar from gtk*/
  font-family: "Noto Sans, Symbols Nerd Font";
  font-size: 18px;
  font-weight: bold;
}

window#waybar {
  border: 3px solid @main-color;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

tooltip {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  border-color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#clock.2
#custom-separator
#clock
#tray
#network
#backlight
#pulseaudio
#battery
#battery.warning
#battery.critical
#workspaces button {
  color: @foreground;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @main-color;
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent,
#workspaces button:hover {
  color: @color5;
  background-color: transparent;
}

#clock.2 {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
}

#custom-separator {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#clock {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#tray {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#network {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#backlight {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#pulseaudio {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

#battery {
  color: @main-color;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 13px;
}

#battery.warning {
  color: #ff0000;
}

#battery.critical {
  color: #ffff00;
}
