@import url("/home/ayush/.cache/wal/gtk.css");
*{
    all: unset;
    font-family: "Noto Sans, Symbols Nerd Font";
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.background {
    background-color: @background;
}

#bar {
    border: 2px solid @color3;
}

.popup {
    border: 2px solid @color6;
}

.sysinfo {
    color: @cursor;
}

.sysinfo .item {
    padding-right: 15px;
}

.tray {
    padding-right: 15px;
}

.workspaces {
    padding-left: 15px;
}

.workspaces .item{
    padding-right: 15px;
    color: @cursor;
}

.workspaces .item.focused {
    color: @color3;
}

.focused {
    color: @cursor;
}

.upower {
    padding-right: 15px;
    color: @cursor;
}

.clock {
    color: @cursor;
    padding-right: 15px;
}

.popup-clock .calendar-clock {
    color: @cursor;
    font-size: 32px;
}

.popup-clock .calendar {
    color: @color5;
    border: none;
    padding: 10px;
}

.separator {
    padding-left: 10px;
    color: @cursor;
}

#power-button {
    padding-left: 15px;
    color: @cursor;
}
