* {
    background:     	#00090F40;
    background-alt: 	#97641E;
    foreground:     	#FBF4F7;
    selected:       	#67C076;
    active:         	#002C4D;
    urgent:         	#3B9EC9;
    Prompt:		#00090F;
}
