* {
    selected-text:	#41181C;
    selected-background: #008CA1;

    prompt-text: #A1191D;
    prompt-background: transparent;

    normal-text: #008CA1;
    normal-background: #AD6661;

    window-border: #008CA1;
    window-background: #FF36270D;

    scrollbar-filled: #008CA1;
    scrollbar-empty: #AD6661;

    error-message: #F6928A;
    error-message-border: #F6928A;
}
